hmodules/applications/packettracer/*.deb*
hmodules/applications/anki/anki_backup/*.colpkg

result
result-*

hmodules/shell/nvim/lazy-lock.json

*.backup

*.swp
*.swo
*~
.*.swp
.*.swo

.DS_Store
Thumbs.db
